/* 
    background images from subtlepatterns 
*/

body {
    background-image: url("img/spikes.png");
    font-family: 'Lato', sans-serif;
}

#gameboard {
    position: relative;
    background-image: url("img/vintage-wallpaper.png");
    top: 40px;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    height: 650px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 10px;
    text-align: center;
    font-size: 20px;
}

table {
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}

tr, th {
    border: 3px solid #000;
    width: 130px;
    height: 130px;
    font-size: 40px;
    font-family: inherit;
}

.boardButton {
    width: 100%;
    height: 100%;
    position: relative;
    top: 3px;
    opacity: 0;
}

.boardButton:hover {
    cursor: pointer;
}

#newGame {
    font-family: inherit;
    width: 200px;
    height: 50px;
    background-color: rgb(0, 182, 91);
    border: 2px solid rgb(0, 0, 0);
    border-radius: 4px;
    font-size: 15px;
}

#newGame:hover {
    background-color: rgb(0, 139, 70);
}

.lastTH {
    border-right: none;
}

.lastTR {
    border-bottom: none;
}

.leftTH {
    border-left: none;
}

.firstTR {
    border-top: none;
}